<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Box Buddy</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" href="/images/icon-black.png">

    <style>
        :root {
          --color-custom: rgb(238, 62, 56);
          --color-custom2: rgb(238, 62, 56, 0.9);
        }
        .brand-red {
          background-color: var(--color-custom);
          /* Additional styles for the custom element */
        }
        .custom-red {
          border-color: var(--color-custom2);
          /* Additional styles for the custom element */
        }
    </style>

</head>
<body>

    <div class="flex flex-col h-screen bg-white overflow-auto"> 

        <!-- Navbar -->
        <%- include('./partials/navbar') %>
    
        <!-- Main content -->
        <div class="flex flex-row">
            <div class="flex flex-col mb-14">

                <!-- Post -->
                <div id="<%= posts.dataValues.id %> " class="border-2 rounded-md custom-red my-1 pl-2 w-screen">
                    <div class="flex flex-row items-center pt-2 pb-2">
                        <img id="profilePic" class="w-11 h-11 rounded-full object-cover object-center" src="<%= posts.dataValues.user.imageURL ? posts.dataValues.user.imageURL : '/images/person-icon.png' %>">
                        <div class="pl-2 justify-between">
                            <p class="text-lg font-semibold"><%= posts.dataValues.user.firstName %> <%= posts.dataValues.user.lastName %> </p> 
                            <p class="text-xs"><%= formatDate(posts.dataValues.createdAt) %> </p> 
                        </div>
                    </div>
                    <p class="pb-2 font-semibold"><%= posts.dataValues.exercise.name %> </p>
                    <% if (posts.dataValues.sets && posts.dataValues.reps && posts.dataValues.weight) { %>
                        <p class="pb-2 weights"><%= posts.dataValues.sets %> Sets x <%= posts.dataValues.reps %> Reps | <%= posts.dataValues.weight %>lbs </p>
                    <% } %>
                    <% if (posts.dataValues.minutes && posts.dataValues.seconds && posts.dataValues.distance && posts.dataValues.measurement) { %>
                        <p class="pb-2 cardio"><%= posts.dataValues.minutes %> mins + <%= posts.dataValues.seconds %> secs | <%= posts.dataValues.distance %> <%= posts.dataValues.measurement %> </p>
                    <% } %>
                    <p class="pb-3"><%= posts.dataValues.notes %> </p>
                    
                </div>
                
                <!-- End Post -->

                <form action="/comments/<%= postID %>" method="POST" class="flex flex-col justify-evenly items-start text-lg mt-4 px-1">

                    <div class="mb-3">
                      <label for="description" class="form-label">Comment:</label>
                      <textarea placeholder="Add text here..." type="text" class="form-control border h-20 w-96" id="description" name="description"></textarea>
                    </div>                     
                    <!-- <div class="mb-3">
                      <label for="publishDate" class="form-label">Post Time:</label>
                      <input type="datetime-local" class="form-control border" id="publishDate" name="publishDate">
                    </div>                         -->
                    <button type="submit" class="bg-black  text-white font-bold py-2 px-4 rounded mx-auto">Add Comment</button>
                </form>

                    <% allComments.forEach(comment => { %>
                        <div class="flex flex-row items-center pt-2 pb-2 ml-1">
                            
                                <img id="profilePic" class="w-10 h-10 rounded-full object-cover object-center" src="<%= comment.user.imageURL ? comment.user.imageURL : '/images/person-icon.png' %>">
                                <div class="pl-2 justify-between">
                                    <p class="text-lg font-semibold"><%= comment.user.firstName %> <%= comment.user.lastName %> </p> 
                                    <p class="text-xs"><%= formatDate(comment.createdAt) %> </p> 
                                </div>
                           
                        </div>
                        <div class="flex flex-row items-center pl-2 pt-2 pb-2"><%= comment.description %></div>
                      <% }) %>                

            </div>

        </div>
    
        <!-- Footer -->
        <%- include('./partials/footer') %>
    



    </div>

</body>
</html>